@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-White: hsl(0, 100%, 100%);
  --color-Purple: hsl(279, 100%, 97%);
  --color-Purple-600: hsl(292, 16%, 49%);
  --color-Purple-950: hsl(292, 42%, 14%);
  --color-Purple-100: hsl(275, 100%, 97%);
  --color-Purple-200: hsl(281, 83%, 54%);
}

html,
body {
  font-size:  13px; 
  margin: 0%;
   
}
 
body {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
}

.proud-of-this-css {
  color: papayawhip;
}

@media (max-width: 568px) {
  .faq-container {
    padding: 1rem;
  }
}